@font-face {
    font-family: 'Nanum GgocNaeEum';
    src: url('subset-NanumGgocNaeEum.woff2') format('woff2'),
        url('subset-NanumGgocNaeEum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

