.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon-heart,
.icon-error {
  width: 50px;
  height: 50px;
  animation: heart 1.2s infinite linear;
}

@keyframes heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.6);
  }
}
