@font-face {
  font-family: 'NanumGgocNaeEum';
  src:
    url('../assets/fonts/subset-NanumGgocNaeEum.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumGgocNaeEum.woff') format('woff');
  display: swap;
}
